
#layout
   height: 15.2rem

[id^=page-]
   height: 11.4rem

.menu
   height: 3.8rem

.key
  height: 3.8rem
  font-size: 2.1rem
  line-height: 3.8rem

.commands
  .key
    font-size: 1.6rem

   li .key
      font-size: 1.4rem
      line-height: 3.8rem
